In [1]:
pip install -i https://test.pypi.org/simple/ lambdata-aklefebvere==1.5

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-aklefebvere==1.5 in /home/adriann/anaconda3/envs/lambda/lib/python3.7/site-packages (1.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

from my_lambdata.my_mod import Mod_df

In [3]:
df = pd.DataFrame({"State": ["CT", "CO", "CA", "TX"]})

df = Mod_df(df)

df.add_col('Name', ['Connecticut', 'Colorado', 'California', 'Texas'])

train, test = df.split_df()

print(df.is_nan())
print(train.shape, test.shape)

State    0
Name     0
dtype: int64
(3, 2) (1, 2)

In [4]:
train.head()

  State         Name
3    TX        Texas
0    CT  Connecticut
2    CA   California

In [5]:
test.head()

  State      Name
1    CO  Colorado