In [7]:
import pandas as pd
!pip install --index-url https://test.pypi.org/simple/ lambdata-aklefebvere

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-aklefebvere in /home/adriann/anaconda3/envs/lambda/lib/python3.7/site-packages (1.2)

In [13]:
from my_lambdata.my_mod import add_col
from my_lambdata.my_mod import is_nan

In [9]:
df = pd.DataFrame({"State":["CT", "CO", "CA", "TX"]})

In [10]:
df.head()

  State
0    CT
1    CO
2    CA
3    TX

In [11]:
add_col(df, 'Name', ['Connecticut', 'Colorado', 'California', 'Texas'])

In [12]:
df.head()

  State         Name
0    CT  Connecticut
1    CO     Colorado
2    CA   California
3    TX        Texas

In [14]:
is_nan(df)

State    0
Name     0
dtype: int64